.services_container {
    margin: 8em 2em 2em;

}
.txt {
    text-align: center;
}

.txt h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.txt p {
    font-size: 0.9em;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  padding-left: 16px; 
  gap: 1.5rem;
}

.embla__slide {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 0 0 70% ; /* card size */
  background: #ffffff;
  border-radius: 20px; 
  padding: 1rem;
  transition:
    transform 0.45s cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 0.45s cubic-bezier(0.2, 0.8, 0.2, 1),
    opacity 0.45s ease;
  opacity: 0.6;
}

.embla__slide img {
    width: 50px;
    height: 50px;
}

.embla__slide.is-selected {
  transform: scale(1.05);
  opacity: 1;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.12),
    0 30px 60px rgba(0, 0, 0, 0.18);
}

.embla__slide h3 {
    color: var(--color-black);
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.embla__slide p {
  font-size: 0.80rem;
  color: #555;
  line-height: 1.5;
}
